/* body{
  background-color:#f2dac3
}
.c1{
text-align: center;
} */

body{
  /* background-color: #f2dac3 */
  background-color: #dddddd
}
img{
  width: 200px;

}
.hobbie{
  background-color: #f2dac3

}
.contact{
  background-color:#caf7e3
}
/* #dddddd */
